extends layout

block content
  img(src='/public/img/Torre_Galicia.jpg' , alt='torre galicia', class="position-absolute w-100 h-100", style="object-fit: cover;") 
  h3= Esta es una aplicación realizada para examen de selección de #{title}
